/* CSS Document */

@font-face {
	font-family:"Louis George Cafe";
	src:url("font/Louis George Cafe.ttf")
}

html {
	font-family:"Louis George Cafe";
}

h1 {
	font-family: "chantal", sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top:20px
}
.main {
	width:60vw;
	margin:auto;
	background-color:white;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:20px;
	margin-top:50px;
	border-radius:2px;
}

.main:hover {
	background-color:black;
	color: white;
}

.firstblog:hover {
	background-color:blue;
}

.secondblog:hover {
	background-color:yellow;
}

.thirdblog:hover {
	background-color:red;
}




body {
	background-image: url(pictures/memphis-mini-dark.png)
		
}

button:hover {
	background-color: black;
	color: white;
}

button {
	display: inline-block;
    padding: 20px;
    text-shadow: 2px 5px crimson;
    font-kerning: auto;
	font-size: 20;
}

.icecream:hover {
	background-image:url("pictures/icecream.jpg");
}

font {
	
}