h1 {
    outline-color: blue;
    border-width: 2px;
    border-color: black;
    border-style: double;
    background-color: chartreuse;
    border-radius: 2px;
    box-shadow: chocolate;
    border-image-source: initial;
    font: larger;
}

p {
    font: bolder;
    font-family: "Comic Sans", monospace;
}

div {
    width: auto;
}

button:hover {
    background-color: black;

}

button {
    display: inline-block;
    padding: 20px;
}

.earthwindandfire {
    border-width: 3px;
    border-color: white;
    border-radius: 16px;
    border-style: inset;
}